{% extends 'base.html' %}

{% block content %}

<style>

.title{
    height:200px;

}

.first{
    display:flex;
    flex-direction:row;
    background-color:white;
    width: 100%;
    height:300px;
    text-align: center;
    
}
.menu{
    width:100%;
    background-color:#39f;
    font-size: 20px;
    color: white;
}
.day_name{
 
  height:15%;
  width:100%;
  line-height: 240%;
}
.time_name{
    
  height:15%;
  width:100%;
  line-height: 230%;
  
}
.weather_name{
   
  height:20%;
  width:100%;
  line-height: 300%;
  
}
.RP_name{
   
  height:15%;
  width:100%;
  line-height: 230%;
  
}
.rain_name{
 
  height:20%;
  width:100%;
  line-height: 300%;
 
}
.temp_name{
   
  height:15%;
  width:100%;
  line-height: 230%;
  
}


    .whe{
        font-size: 12px;
        width:80%;
        background-color: #3399ff;
        color: white;
    }




.day{
 
  height:15%;
  width:100%;
  line-height: 400%;
}
.time{
    
  height:15%;
  width:100%;
  line-height: 230%;
  font-size: 20px;
}
.weather{
    
  height:20%;
  width:100%;
  line-height: 400%;
  font-size: 15px;
}
.RP{
   
  height:15%;
  width:100%;
  line-height: 230%;
  font-size: 20px;
}
.rain{
  
  height:20%;
  width:100%;
  line-height: 400%;
  font-size: 15px;
}
.temp{
   
  height:15%;
  width:100%;
  line-height: 230%;
  font-size: 20px;
}

 
</style>

<div class = "title"></div>

<div class="first">
    <div class="menu">
        <div class="day_name">날짜</div>
        <div class="time_name">시간</div>
        <div class="weather_name">날씨</div>
        <div class="RP_name">습도</div>
        <div class="rain_name">강수량</div>
        <div class="temp_name">기온</div>
    </div>
    {% for we in article_list %}
      <div class="whe">
      <div class="day">{{ we.day }}</div>
      <div class="time">{{ we.time }}</div>
      <div class="weather">{{we.weather}}</div>
      <div class="RP">{{we.RP}}</div>
      <div class="rain">{{we.rain}}</div>
      <div class="temp">{{we.temp}}</div>
    </div>
    {% endfor %}
    
  </div>
  

    
  </div>
  {% endblock %}