{% extends 'base.html' %}
{% block content %}

<style>
    .pie{
       height: 100px;
       background-color:blanchedalmond; 
    }
    .home {
        position: relative;
        left: 45%;
        top:25%;
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.home:hover {
  background-color: #39f;
  box-shadow: 0px 15px 20px rgba(46, 141, 229, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
</style>

<div class="jumbotron">
<div class="container text-center">
<h1>로그인되었습니다.</h1>
</div>
</div>
<div class="pie">
    <button class="home" onclick="location.href='/main/'">홈으로</button>
</div>
{% endblock %}
