{% extends 'base.html' %}

{% block content %}


  <style>    
    /* Set black background color, white text and some padding */
    .form-group{
      text-align: left;
      
    }
    
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    .panel {
        height: 500px;
       
    }
    .panel-body{
        font-size: 20px;
        
    }
    .panel-text{
        white-space:pre;
    }
    .content_place{
      
      background-color: yellow;
      height: 150px;
    }
    .place1{
      display:flex;
      flex-direction:row;
      width:100%;
      height: 80%;
      position: relative;
      top:10%;
    }
    .ti{
      background-color: tomato;
      width:20%;
    }
    .conte{
      background-color: teal;
      width:80%;
    }
  </style>

  
<div class="container text-center">    
  <div class="row">
    <div class="col-sm-3 well">
      <div class="well">
        <p><a href="https://www.mk.co.kr/news/society/view/2020/08/824558/"><img src="/frontend/images/new_name.jpg" height="100%" width="100%" alt="Avatar"></a></p>
        
      </div>
      <div class="well">
        <p><a href="#">Interests</a></p>
        <p>
          <span class="label label-default">News</span>
          <span class="label label-primary">W3Schools</span>
          <span class="label label-success">Labels</span>
          <span class="label label-info">Football</span>
          <span class="label label-warning">Gaming</span>
          <span class="label label-danger">Friends</span>
        </p>
      </div>
      <div class="alert alert-success fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <p><strong>Ey!</strong></p>
        People are looking at your profile. Find out who.
      </div>
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
    </div>
    <div class="col-sm-7">
    
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default text-left">
            <div class="panel-body">
              <p contenteditable="true">합천군, 민·관·군 합동 홍수피해 복구에 총력</p>
            </div>
            <div class="panel-time"><p contenteditable="true">&nbsp;&nbsp;&nbsp;&nbsp;입력 : 2020.08.11 15:24:59</p></div>
            <div class="panel-text"><p contenteditable="true">    경남 합천군은 최근 집중호우에 따른 홍수피해가 집중된 율곡면과 쌍책면에 
    민·관·군 합동 수해 피해 긴급복구 지원반을 투입했다고 11일 밝혔다.
    이날 군은 본청 공무원 150여 명, 자원봉사 300여명, 군병력 60여명 등 
    500여명을 율곡면 5개 마을, 쌍책면 2개 마을 수해 현장으로 급파했다.
    하계휴가를 계획했던 간부 공무원들에게는 휴가를 취소토록 하는 등 
    복구 작업에 모든 행정력을 집중하고 있다.
    
    또 피해 상황을 실시간으로 파악해 응급복구를 지원할 수 있도록 
    수해 피해 복구 인력지원 전담반을 가동하고, 수해로 인한 피해 복구가 
    완료될 때까지 신속하게 복구를 지원할 방침이다.
    긴급복구 지원반은 율곡면과 쌍책면의 각 마을로 배치돼 침수된 주택과 
    마을회관 등을 정리하고 상수도 및 도로 피해 복구, 전기공급 재개 등 
    작업을 진행하고 있다.
                
                </p></div>
          </div>
        </div>
      </div>
      
      <div class="jumbotron">
        <div class="container text-center">
            <form method="post" action="/text/">
                {% csrf_token %}
                
                <div class="form-group">
                    <p>Content:</p>
                    <textarea class="form-control" rows="5" name="content" id="content"></textarea>
                </div>
                <button type="submit" id="complete" class="btn btn-primary btn-block">
                    글쓰기
                </button>
            </form>
        </div>
    </div>
    
    <div class="content_place">
      {% for qe in name_list %}
      <div class="place{{qe.id}}">
      <div class="title"></div>
      <div class="conte">{{qe.contnet}}</div> 
      </div>     
      {% endfor %}
    </div>


      
    
{% endblock %}
